footer {
  position: fixed;
  bottom: 0px;
  left: 10px;
  z-index: 1;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  font-size: 1.9vw;
  display: inline;
  text-decoration: none;
  font-family: 'Special Elite', cursive;
}
footer ul li a {
  color: #000000;
}
footer ul li a:hover {
  color: orange;
}
