/* Mixin */
/* Mixin */
header {
  width: 136px;
  z-index: 10;
  -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px 20px 0px 0px !important;
  -moz-border-radius: 20px 20px 0px 0px !important;
  border-radius: 20px 20px 0px 0px !important;
  background: rgba(255, 255, 255, 0.1);
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header ul li {
  display: inline;
}
header ul li a {
  color: #300000;
}
