#about {
  .cube {
    width: 1000px;
    height: 1000px;

    display: block;

    padding: 2px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }

  #front {

    h1 {
      padding: 60px 0px 0px 60px;
      span {
        font-family: 'Special Elite', cursive;
        font-size: 130px;
        display: block;
        &.surname {
          text-indent: 60px;
        }
      }
    }

  }
}
