#home {
  margin: 0 auto;
  width: 46vh;
}
#home header {
  height: 20vh;
}
#home header #hint {
  position: absolute;
  left: 10px;
}
#home #main {
  width: 300px;
}
#home #personal-container img {
  float: left;
}
#home #personal-container h2 {
  padding-top: 10px;
  font-family: "Special Elite";
}
#home #short-info {
  margin: 10px 0 30px 0;
}
#home #short-info small {
  color: #333;
  float: left;
}
#home #short-info h1 {
  font-family: "Special Elite";
  font-size: 20px;
}
#home footer {
  position: fixed;
  bottom: 10px;
  left: 45%;
  width: 200px;
}
