/* custom template */
#resume {
  height: 100%;
  font-family: verdana, arial, sans-serif;
  color: #555555;
  /* bootstrap overrides */
  /* adjust the contents on smaller devices */
  /*
   * off canvas sidebar
   * --------------------------------------------------
   */
}
#resume p {
  text-align: justify;
}
#resume .list-inline {
  text-align: center;
}
#resume .nav {
  font-family: Arial, sans-serif;
  font-size: 13px;
}
#resume .nav .nav-second-level {
  margin-left: 25px;
  margin-top: 10px;
}
#resume a {
  color: #222222;
}
#resume a:hover {
  text-decoration: none;
}
#resume hr {
  border-color: #dedede;
}
#resume .wrapper,
#resume .row {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}
#resume .wrapper:before,
#resume .wrapper:after,
#resume .column:before,
#resume .column:after {
  content: "";
  display: table;
}
#resume .wrapper:after,
#resume .column:after {
  clear: both;
}
#resume .column {
  height: 100%;
  overflow: auto;
  *zoom: 1;
}
#resume .column .padding {
  padding: 20px;
}
#resume .sharalike {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c11549), color-stop(100%, #a1032d));
  background-image: -webkit-linear-gradient(#c11549, #a1032d);
  background-image: -moz-linear-gradient(#c11549, #a1032d);
  background-image: -o-linear-gradient(#c11549, #a1032d);
  background-image: linear-gradient(#c11549, #a1032d);
  line-height: 41px;
  color: white;
}
#resume .full {
  padding-top: 70px;
  background-image: url("../img/resume-wallpaper.jpg");
}
#resume .box {
  bottom: 0;
  /* increase for footer use */
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #444444;
  /*
      background-image:url('/assets/example/bg_suburb.jpg');
      background-size:cover;
      background-attachment:fixed;
    */
}
#resume .divider {
  margin-top: 32px;
}
#resume .navbar-blue {
  border-width: 0;
  background-color: #3B5999;
  color: #ffffff;
  font-family: arial, sans-serif;
  top: 0;
  position: fixed;
  width: 83.33333333%;
}
#resume .navbar-blue li > a,
#resume .navbar-toggle {
  color: #efefef;
}
#resume .navbar-blue .dropdown-menu li a {
  color: #2A4888;
}
#resume .navbar-blue .dropdown-menu li > a {
  padding-left: 30px;
}
#resume .navbar-blue li > a:hover,
#resume .navbar-blue li > a:focus,
#resume .navbar-blue .open,
#resume .navbar-blue .open > a,
#resume .navbar-blue .open > a:hover,
#resume .navbar-blue .open > a:focus {
  background-color: #2A4888;
  color: #fff;
}
#resume #main {
  background-color: #e9eaed;
  padding-left: 0;
  padding-right: 0;
}
#resume #main .img-circle {
  margin-top: 18px;
  height: 70px;
  width: 70px;
}
#resume #sidebar {
  padding: 0px;
  padding-top: 15px;
}
#resume #sidebar,
#resume #sidebar a,
#resume #sidebar-footer a {
  color: #ffffff;
  background-color: transparent;
  text-shadow: 0 0 2px #000000;
  padding-left: 5px;
}
#resume #sidebar .nav li > a:hover {
  background-color: #393939;
}
#resume .logo {
  display: block;
  padding: 3px;
  background-color: #fff;
  color: #3B5999;
  height: 28px;
  width: 28px;
  margin: 9px;
  margin-right: 2px;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 1px;
  border-radius: 2px;
}
#resume #sidebar-footer {
  background-color: #444;
  position: absolute;
  bottom: 5px;
  padding: 5px;
}
#resume #footer {
  margin-bottom: 20px;
}
#resume #resume-content {
  min-height: 450px;
}
#resume h1,
#resume h2,
#resume h3 {
  font-weight: 800;
}
#resume .navbar-header h2 {
  margin-top: 5px;
}
#resume .navbar-toggle,
#resume .close {
  outline: 0;
}
#resume .navbar-toggle .icon-bar {
  background-color: #fff;
}
#resume .btn-primary,
#resume .label-primary,
#resume .list-group-item.active,
#resume .list-group-item.active:hover,
#resume .list-group-item.active:focus {
  background-color: #3B5999;
  color: #fffffe;
}
#resume .btn-default {
  color: #666666;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
#resume .panel textarea,
#resume .well textarea,
#resume textarea.form-control {
  resize: none;
}
#resume .badge {
  color: #3B5999;
  background-color: #fff;
}
#resume .badge:hover,
#resume .badge-inverse {
  background-color: #3B5999;
  color: #fff;
}
#resume .jumbotron {
  background-color: transparent;
}
#resume .label-default {
  background-color: #dddddd;
}
#resume .page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top: 1px solid #eeeeee;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#resume .panel-default .panel-heading {
  background-color: #f9fafb;
  color: #555555;
}
#resume .col-sm-9.full {
  width: 100%;
}
#resume .modal-header,
#resume .modal-footer {
  background-color: #f2f2f2;
  font-weight: 800;
  font-size: 12px;
}
#resume .modal-footer i,
#resume .well i {
  font-size: 20px;
  color: #c0c0c0;
}
#resume .modal-body {
  padding: 0px;
}
#resume .modal-body textarea.form-control {
  resize: none;
  border: 0;
  box-shadow: 0 0 0;
}
#resume small.text-muted {
  font-family: courier, courier-new, monospace;
}
#resume .slidedown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#resume .slidedown.ng-enter,
#resume .slidedown.ng-leave {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
#resume .slidedown.ng-enter {
  top: -100%;
}
#resume .slidedown.ng-enter-active {
  top: 0;
}
#resume .slidedown.ng-leave {
  top: 0;
}
#resume .slidedown.ng-leave-active {
  top: 100%;
}
#resume .slideup {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}
#resume .slideup.ng-enter,
#resume .slideup.ng-leave {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
#resume .slideup.ng-enter {
  top: 100%;
}
#resume .slideup.ng-enter-active {
  top: 0;
}
#resume .slideup.ng-leave {
  top: 0;
}
#resume .slideup.ng-leave-active {
  top: -100%;
}
#resume .slide-pop {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#resume .slide-pop.ng-enter,
#resume .slide-pop.ng-leave {
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
#resume .slide-pop.ng-enter {
  opacity: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
#resume .slide-pop.ng-enter-active {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#resume .slide-pop.ng-leave {
  left: 0;
  opacity: .5;
}
#resume .slide-pop.ng-leave-active {
  left: -100%;
  opacity: 0;
}
#resume .reverse .page.slide-pop.ng-enter {
  opacity: .5;
  left: -100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#resume .reverse .page.slide-pop.ng-enter-active {
  opacity: 1;
  left: 0;
}
#resume .reverse .page.slide-pop.ng-leave {
  opacity: .5;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  left: 0;
  right: 0;
}
#resume .reverse .page.slide-pop.ng-leave-active {
  opacity: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
@media (max-width: 768px) {
  #resume .column .padding {
    padding: 7px;
  }
  #resume .full {
    padding-top: 20px;
  }
  #resume .navbar-blue {
    background-color: #3B5999;
    top: 0;
    width: 100%;
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  #resume .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  #resume .row-offcanvas-left.active {
    left: 33%;
  }
  #resume .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 5px;
  }
  #resume #sidebar,
  #resume #sidebar a,
  #resume #sidebar-footer a {
    padding-left: 3px;
  }
}
